elk/ws/src/main/resources/wsdl/ws.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="ElkSyncService"
                  targetNamespace="http://gosuslugi.ru/epguapi/ws/v25/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:cos="http://gosuslugi.ru/epguapi/ws/v25/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:smev="rrev120315.xsd"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://gosuslugi.ru/epguapi/ws/v25/">
            <xsd:import namespace="http://gosuslugi.ru/lk/elk/types/" schemaLocation="elkType.xsd"/>
            <xsd:import namespace="rrev120315.xsd" schemaLocation="rrev120315.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="createOrdersRequest">
        <wsdl:part element="smev:Header" name="smevHeader"/>
        <wsdl:part element="smev:BaseMessage" name="createOrdersRequest"/>
    </wsdl:message>

    <wsdl:message name="createOrdersResponse">
        <wsdl:part element="smev:BaseMessage" name="createOrdersResponse"/>
    </wsdl:message>

    <wsdl:message name="updateOrdersRequest">
        <wsdl:part element="smev:Header" name="smevHeader"/>
        <wsdl:part element="smev:BaseMessage" name="updateOrdersRequest"/>
    </wsdl:message>

    <wsdl:message name="updateOrdersResponse">
        <wsdl:part element="smev:BaseMessage" name="updateOrdersResponse"/>
    </wsdl:message>

    <wsdl:message name="deleteOrdersRequest">
        <wsdl:part element="smev:Header" name="smevHeader"/>
        <wsdl:part element="smev:BaseMessage" name="deleteOrdersRequest"/>
    </wsdl:message>

    <wsdl:message name="deleteOrdersResponse">
        <wsdl:part element="smev:BaseMessage" name="deleteOrdersResponse"/>
    </wsdl:message>

    <wsdl:message name="createInvitationsRequest">
        <wsdl:part element="smev:Header" name="smevHeader"/>
        <wsdl:part element="smev:BaseMessage" name="createInvitationsRequest"/>
    </wsdl:message>

    <wsdl:message name="createInvitationsResponse">
        <wsdl:part element="smev:BaseMessage" name="createInvitationsResponse"/>
    </wsdl:message>

    <wsdl:message name="updateInvitationsRequest">
        <wsdl:part element="smev:Header" name="smevHeader"/>
        <wsdl:part element="smev:BaseMessage" name="updateInvitationsRequest"/>
    </wsdl:message>

    <wsdl:message name="updateInvitationsResponse">
        <wsdl:part element="smev:BaseMessage" name="updateInvitationsResponse"/>
    </wsdl:message>

    <wsdl:message name="createPaymentsRequest">
        <wsdl:part element="smev:Header" name="smevHeader"/>
        <wsdl:part element="smev:BaseMessage" name="createPaymentsRequest"/>
    </wsdl:message>

    <wsdl:message name="createPaymentsResponse">
        <wsdl:part element="smev:BaseMessage" name="createPaymentsResponse"/>
    </wsdl:message>

    <wsdl:portType name="ElkSyncService">
        <wsdl:operation name="createOrders">
            <wsdl:input message="cos:createOrdersRequest"/>
            <wsdl:output message="cos:createOrdersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateOrders">
            <wsdl:input message="cos:updateOrdersRequest"/>
            <wsdl:output message="cos:updateOrdersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteOrders">
            <wsdl:input message="cos:deleteOrdersRequest"/>
            <wsdl:output message="cos:deleteOrdersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createInvitations">
            <wsdl:input message="cos:createInvitationsRequest"/>
            <wsdl:output message="cos:createInvitationsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateInvitations">
            <wsdl:input message="cos:updateInvitationsRequest"/>
            <wsdl:output message="cos:updateInvitationsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createPayments">
            <wsdl:input message="cos:createPaymentsRequest"/>
            <wsdl:output message="cos:createPaymentsResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ElkSyncServiceBinding" type="cos:ElkSyncService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createOrders">
            <soap:operation soapAction="createOrders" style="document"/>
            <wsdl:input>
                <soap:header message="cos:createOrdersRequest" part="smevHeader" use="literal" wsdl:required="false"/>
                <soap:body parts="createOrdersRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateOrders">
            <soap:operation soapAction="updateOrders" style="document"/>
            <wsdl:input>
                <soap:header message="cos:updateOrdersRequest" part="smevHeader" use="literal" wsdl:required="false"/>
                <soap:body parts="updateOrdersRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteOrders">
            <soap:operation soapAction="deleteOrders" style="document"/>
            <wsdl:input>
                <soap:header message="cos:deleteOrdersRequest" part="smevHeader" use="literal" wsdl:required="false"/>
                <soap:body parts="deleteOrdersRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createInvitations">
            <soap:operation soapAction="createInvitations" style="document"/>
            <wsdl:input>
                <soap:header message="cos:createInvitationsRequest" part="smevHeader" use="literal" wsdl:required="false"/>
                <soap:body parts="createInvitationsRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateInvitations">
            <soap:operation soapAction="updateInvitations" style="document"/>
            <wsdl:input>
                <soap:header message="cos:updateInvitationsRequest" part="smevHeader" use="literal" wsdl:required="false"/>
                <soap:body parts="updateInvitationsRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createPayments">
            <soap:operation soapAction="createPayments" style="document"/>
            <wsdl:input>
                <soap:header message="cos:createPaymentsRequest" part="smevHeader" use="literal" wsdl:required="false"/>
                <soap:body parts="createPaymentsRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ElkSyncService">
        <wsdl:port binding="cos:ElkSyncServiceBinding" name="ElkSyncService">
            <soap:address location=""/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>